# Generic gitignore for now :
build/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
*.temp

# Cache
.cache/
.mypy_cache/
.pytest_cache/

# Idea
.idea/

# Generated dataset
*.zarr
*.parquet

